.nav-bk2{
 
    background: #23074d; 
     
    background: -webkit-linear-gradient(to right, #cc5333, #23074d); 
     
    background: linear-gradient(to right, #cc5333, #23074d);
     
     
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: rgb(223, 219, 235);
}
label{
    color: rgb(223, 219, 235);
    font-size: 1.2em;
}
header{
  text-align: center;
}
h1{
    color: #d3d3ec;
    text-decoration-line: underline;
    text-align: center;
    text-transform: inherit;
  }
  
h3{
    color: rgb(243, 238, 248);
    text-align: left;
  }
h5{
    color: rgb(131, 163, 180);
    text-decoration-line: underline;
  }
body{
 background-color:#381b64; 
 /*linear-gradient(to right, #381b64, #b63f1e);*/
}
.botonEstilo{
  border: none;
  margin: 20px;
  padding: 10px;
  width: 160px;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
}

.btnColor1{
    background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
}  
.btnColor2{
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
}  
.botonEstilo:hover{
  background-position: right;
}
.botonEstilo a{
     color: #fff;
}
.botonEstilo a:hover{
    color: #fff;
}